{% extends 'layout.html' %}

{% block title %}{{ date }}{% endblock %}

{% block content %}

<a href="/client/{{ client.id }}" class="back-to-client">&#8592 Back to client</a>
<div class="workout-table-container">
  <h1 class="workout-date">{{ date }}</h1>
  <table class="workout-table">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight (lbs)</th>
        <th>Duration</th>
        <th>Rest</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise in exercises %}
      <tr>
        <td>{{ exercise.name }}</td>
        <td class="variables">{{ exercise. sets }}</td>
        <td class="variables">{{ exercise.reps }}</td>
        <td class="variables">{{ exercise.weight }}</td>
        <td class="variables">{{ exercise.duration }}</td>
        <td class="variables">{{ exercise.rest }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}