{% extends 'layout.html' %}


{% block content %}

  <div class="container">
    <div class="trainer-container">
      <h1 class="axon-header">Axon Trainer</h1>
      <div class="trainer-profile">
        <img src="../static/assets/trainer-modified.png" alt="image of trainer Jane" class="trainer-img">
        <div class="trainer-name">Jane Doe <br />
          <a href="/" class="ig-link">
            <i class="fa-brands fa-instagram">
              <small class="ig-link"> jdfitness</small>
            </i> 
          </a> 
        </div>
      </div>
        <img src="../static/assets/logo-nasm.png" alt="nasm-logo" class="nasm-logo"> 
        <span class="trainer-text">
          Certified Personal Trainer
        </span>
      <div>
        <img src="../static/assets/cpr.png" alt="cpr-logo" class="cpr-logo"> CPR/AED CERTIFIED
      </div>
      <div>
        
      </div>
      <blockquote class="trainer-quote">
        "Living a high performance lifestyle, 
        <br />while guiding others to do the same."
      </blockquote>

      <footer>
        <small class="copyright">© 2022 by Axon. All rights reserved.</small> 
      </footer>
    </div>

    <div class="client-container">
      <h1 class="client-header">Clients<button class="client" id="add-client-btn"><i class="fa-regular fa-square-plus"></i> add</button></h1>
      <div class="client-list-container">
        <ul class="client-list">
          {% for client in clients %}
          <a href="client/{{ client.id }}" class="client-tab-link">
            <li class="client client-tab">
            {{ client.full_name}}
            <img src="{{ client.image }}" alt="client-profile-pic" class="client-img"> 
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-form">
        <form class="add-client-form">
          <h3>New Client</h3>
          <div class="add-client-form-container">
            <div class="firstname-input">
              <label for="first-name">First Name</label>
              <input required type="text" name="firstname">
            </div>
            <div class="lastname-input">
              <label for="last-name">Last Name</label>
              <input required type="text" name="lastname">
            </div>
            <div class="phone-input">
              <label for="phone">Phone</label>
              <input required type="text" name="phone">
            </div>
            <div class="email-input">
              <label for="email">Email</label>
              <input required type="email" name="email">
            </div>
            <div class="goals-input">
              <label for="goals">Goals</label>
              <input required type="text" name="goals">
            </div>
            <div class="start-input">
              <label for="start">Start date</label>
              <input required type="date" name="date">
            </div>
          </div>
            <button class="btn-cancel">
              <i class="fa-regular fa-rectangle-xmark"></i> Cancel
            </button>
            <button class="btn-save" formaction="/" formmethod="POST">
              <i class="fa-regular fa-square-check"></i> Save
            </button>
        </form>
      </div>
    </div>

    <div class="upcoming-sessions">
      <h1 class="upcoming-header">Upcoming Sessions</h1>
      <div class="calendar">
        <h3 class="coming-soon">Calendar coming soon...</h3>
      </div>
    </div>
  </div>
  <script src="/static/addClientForm.js"></script>
{% endblock %}

